<%= form_for(Message.new) do |f| %>
  <%= f.label :course_id %>
  <div>
    <%= f.collection_select :course_id, Course.all, :id, :name, include_blank: true %>
  </div>
  <%= f.label :student_id %>
  <div>
    <%= f.grouped_collection_select :student_id, Course.all, :students, :name, :id, :name, include_blank: true %>
  </div>
<% end %>


<script>
  $(document).ready(function(){
    var students = $('#message_student_id').html();
    console.log(students)
    $('#message_course_id').change(function(){
      var selected_course = $('#message_course_id :checked').text();
      var filtered_students = $(students).filter('optgroup[label="' + selected_course + '"]').html();
      console.log(filtered_students);
      $("#message_student_id").html(filtered_students)
    })
  });
</script>









